.navbar {
  background-color: #434247 !important;
}

/*Menu*/
.nav-item.active {
  background-color: #242729; /* Cambia el color de fondo*/
  color: #fff; 
}

.Espaciado {
  margin-bottom: 100px;
}

/*Carrusel*/
.carousel-item{
  max-width: 100%;
}
.carousel-caption {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.caption-box {
  background-color: rgba(0, 0, 0, 0.8); /* Fondo semi-transparente */
  color: white; /* Texto blanco */
  padding: 20px;
  border-radius: 20px; /* Bordes redondeados */
}

.carousel-control-prev,
.carousel-control-next {
    background-color: rgba(0, 0, 0, 0.8); /* Negro con opacidad */
}


/*footer*/
.footer {
  background-color: rgba(0, 0, 0, 0.8); 
  color: white; 
  text-align: center; 
  padding: 20px 0; 
  position: fixed; 
  left: 0;
  bottom: 0;
  width: 100%;
}

/*Contactanos*/
.background-container {
  position: relative;
  height: 100vh;
}

.background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ajusta el tamaño de la imagen para cubrir el contenedor */
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Fondo negro con opacidad */
}

.box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.8); /* Fondo negro con opacidad */
  color: white; /* Color del texto */
  border-radius: 10px; /* Bordes redondos */
  padding: 20px; /* Espaciado interno */
}

ul {
  list-style: none; /* Quitar viñetas de la lista */
  padding: 0; /* Quitar el espacio interno */
  margin: 0; /* Quitar el margen */
}

li {
  margin-bottom: 10px; /* Espacio entre elementos de la lista */
}
/*Configuraciones*/

.prp-nosotros {
  display: flex;
  justify-content: center;
  margin-top: 35px;
  font-size: 25px;
}

.color-main {
  background-color: #c7c2c9;
}

.color-body {
  background-color: #d9d3db;
}

.ul-index {
  padding-left: 100px;
  font-size: 20px;
}

.prp-adopta {
  font-size: 23px;
  margin-top: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-right: 40px;
  margin-left: 40px;
}
/*Imagenes*/
.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Cada elemento ocupa el 30% del contenedor */
.item {
  text-align: center;
  flex: 0 0 30%; 
}

.item img {
  width: 100%;
  height: auto;
}

.description {
  margin-top: 10px;
}

.hding-adopta {
  display: flex;
  justify-content: center;
  background-color: rgb(78, 76, 78);
  color: white;
  border-radius: 25px;
  margin: 25px 200px;
  padding: 5px;
}

.card-body a.card-link {
  display: block; 
  text-align: center; 
}

.div-centrado {
  display: flex;
  align-items: center;
}

.img-lucy {
  max-width: 40%;
  margin: 50px;
  border-radius: 15px;
  border: double;
}

.div-lucy {
  display: flex;
  align-items: center;
}

.prp-lucy {
  display: block;
}

.li-adopta {
  font-size: 30px;
}

.img-marquitos {
  max-width: 50%;
  margin: 50px;
  border-radius: 15px;
  border: double;
}

.img-tabby {
  max-width: 40%;
  margin: 50px;
  border-radius: 15px;
  border: double;
}

.navbar-brand{
  font-weight: bold;
  font-size: 25px;
}
